# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/
build/
*.tsbuildinfo

# turbo
.turbo/

# test / coverage
coverage/

# env & secrets
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
